#editorcontainerbox{
  background-color:#F7F7F7;
}

@media (min-width: 1060px) {
  
  #editorcontainer.page_view {
    overflow: hidden;
    background-color: #f7f7f7;
    text-align: center;
    top:37px;
  }

  #editorcontainerbox{
    background-color:#f7f7f7;
  }

  #editorloadingbox{
    margin-top:100px;
  }

}

/* For LESS THAN 900px wide */
@media screen (max-width: 900px) {
  #innerdocbody > div {
    margin-left:0px;
    margin-right:0px;
  }

  .outerPV{
    width:100% !important;
  } 

  .outerBackground{
/*    background-color:#fff !important;*/
  }

  #innerdocbody{
/*    padding-top:0px !important;*/
  } 

  .innerPV{
    border:none;
    box-shadow:none;
  }

}

