#editorcontainerbox{
  background-color:#F7F7F7;
}

@media (min-width: 921px) {
  
  #editorcontainer.page_view {
    overflow: hidden;
    background-color: #f7f7f7;
    text-align: center;
    top:37px;
  }

  #editorcontainerbox{
    background-color:#f7f7f7;
    top:0px;
  }
  #editorcontainer{
    top:0px;
    padding-top:20px;
  }

  #editorloadingbox{
    margin-top:100px;
  }

}

@media (max-width: 920px) {
  
  .outerBackground{
    width:100%;
  }

  #editorcontainerbox{
    top:0px;
  }
  #editorcontainer{
    top:0px;
    border-top: 1px solid #ccc;
  }

}

