@media (min-width: 860px) {
  
#editorcontainer.page_view {
  overflow: hidden;
  background-color: #f7f7f7;
  text-align: center;
}

iframe.page_view {
/*
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  position: relative;
*/
/*  max-width: 850px;*/
}

}
