<p>
    <input type="checkbox" id="options-pageview" <%= checked %> <%=disabled %>></input> 
    <label for="options-pageview" data-l10n-id="ep_page_view.page_view">Page View</label>
</p>
<p>
    <input type="checkbox" id="options-pagebreaks" checked></input> 
    <label for="options-pagebreaks" data-l10n-id="ep_page_view.page_breaks">Page Breaks</label>
</p>
