<p>
    <input type="checkbox" id="options-pageview" <%= checked %>></input> 
    <label for="options-pageview">Page View</label>
</p>
<p>
    <label for="options-pageview-paper-type">Paper Size</label>
    <select id="options-pageview-paper-type">
     <option value="a4">A4</option>
     <option value="a5">A5</option>
    </select>
</p>
